name: dagger
on:
  push:
    branches: [main]

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  hello:
    name: hello
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Call Dagger Function
        env:
          OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: http://localhost:8080/v1/metrics
        uses: dagger/dagger-for-github@v8.3.0
        with:
          version: "latest"
          check: "**"
          #cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
